.consulting-page-background {
	background-image: url(/assets/images/background-consulting-page.png);
	background-repeat: no-repeat;
	-moz-background-size:100% 100%;  
    background-size:100% 100%; 	
}

.logo-margin {
	margin-top: 100px;
}

.title-margin {
	margin-top: 200px;	
}

.seprate {
	width: 300px;
}

.category {
	font-size: 48pt;
	color: #47873A;
}

.dazhu {
	font-size: 35pt;
	color: #47873A;
}

.form-margin {
	margin-top: 100px;
}

.round {
	font-size: 18pt;
	color: dark;
	background-color: green;
	background-image: none;
}

.form-margin-left {
	margin-left: 20px;
}

.form-margin-top {
	margin-top: 60px;
}

.label-font{
	color: #C0C0C0;
	font-size: 22pt;
}

.text-round {
	-moz-border-radius: 28px;      /* Gecko browsers */
    -webkit-border-radius: 28px;   /* Webkit browsers */
    border-radius: 30px;            /* W3C syntax */
    border: 2px solid #47873A;
    background-color: #C0C0C0;
}

.btn-setting {
  	font-size: 22pt;
	color: #47873A;
	background-color: #4D4D4D;
	background-image: none;
	border: 4px solid #47873A;
	border-radius: 30px;
	width:17%;
}

