.consultcate-page-background {
	background-image: url(/assets/images/consultcate-page-background.png);
    background-repeat: repeat;	
}

.spacer {
margin-top: 100px;
}

.round {
  border-radius: 24px;
  border: 2px solid #11c924;
  color: #11c924 ;
  background-color: none;
  width: 500px;
  font-size: 41pt;
}

.btn-spacer {
	margin-top: 30px;
}
