.consultcate-page-background {
	background-image: url(/assets/images/background-cate-page.png);
    background-repeat: no-repeat;
	-moz-background-size:100% 100%;  
    background-size:100% 100%; 	
}

.consultcate-spacer {
	margin-top: 150px;
}

.consultcate-round {
  border-radius: 24px;
  border: 4px solid #47873A;
  color: #47873A;
  background-color: none;
  width: 500px;
  font-size: 36pt;
}

.consultacate-btn-spacer {
	margin-top: 45px;
}

.logo-margin {
	margin-top: 100px;
}

.title-margin {
	margin-top: 200px;	
}
