.dazhu-page-background {
	background-image: url(/assets/images/background-dazhu-page.png);
	background-repeat: no-repeat;
	-moz-background-size:100% 100%;  
    background-size:100% 100%; 	
}

.dazhu-name {
	color: #47873A;
	font-size: 26pt;
}

.dazhu-name-sub {
	color: #999999;
	font-size: 25pt;
}

.dazhu-name-sub-btn {
	font-size: 18pt;
	color: #4D4D4D;
	background-color: #47873A;
	background-image: none;
	
	-moz-border-radius: 28px;      /* Gecko browsers */
    -webkit-border-radius: 28px;   /* Webkit browsers */
    border-radius: 28px;            /* W3C syntax */
    
    margin-top: -12px;
}

.dazhu-description {
	font-size: 24pt;
	color: #999999;
	
	width: 400px;
}

.dazhu-right {
	float: right;
}

/* table {
	table-layout: fixed;
}

td {
	word-break: break-all; 
	word-wrap: break-word;
} */