.end-page-background {
	background-image: url(/assets/images/home-page-background.png);
    background-repeat: repeat;	
}

.end-page-spacer-content {
	margin-top: 200px;
}


.end-page-spacer {
	margin-top: 300px;
}

.end-page-spacer-slogan {
	margin-top: 50px;
}

.end-page-content {
	font-size:50pt;
	color: #666362;
}