.end-page-background {
	background-image: url(/assets/images/background-end-page.png);
	background-repeat: no-repeat;
	-moz-background-size:100% 100%;  
    background-size:100% 100%; 	
}

.end-page-spacer-content {
	margin-top: 100px;
}


.end-page-spacer {
	margin-top: 15%;
}

.end-page-content{
	margin-top: 30%;
}

.end-page-spacer-slogan {
	margin-top: 50px;
}

.end-page-title {
	margin-top: 15%;	
}