.home-page-background {
	background-image: url(/assets/images/background-home-page.png);
    background-repeat: no-repeat;
	-moz-background-size:100% 100%;  
    background-size:100% 100%; 	
}

.spacer {
	margin-top: 17%;
}

.spacer-content {
	margin-top: 15%;
}

.spacer-title{
	margin-top: 8%;	
}