.home-page-background {
	background-image: url(/assets/images/home-page-background.png);
    background-repeat: repeat;	
}

.spacer {
	margin-top: 17%%;
}

.spacer-content {
	margin-top: 15%;
}

.spacer-title{
	margin-top: 8%;	
}