.service-protocol-background {
	background-image: url(/assets/images/consultcate-page-background.png) no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.service-protocol-title-margin {
	margin-top: 10%;
}
.service-protocol-logo-margin {
	margin-top: 20%;
}

.service-protocol-title {
	font-size: 30pt;
	color: #47873A;
	font-weight: bold;
}

.service-protocol-content {
	width: 100%;
	height: 50%;
}

.service-protocol-bottom-btn {
	font-size: 24pt;
	background-color: #47873A;
	background-image: none;
	color: #666666;
	
	-moz-border-radius: 28px;      /* Gecko browsers */
    -webkit-border-radius: 28px;   /* Webkit browsers */
    border-radius: 28px;            /* W3C syntax */
}