.service-protocol-background {
	background-image: url(/assets/images/background-service-protocol.png);
	background-repeat: no-repeat;
	-moz-background-size:100% 100%;  
    background-size:100% 100%; 
}

.service-protocol-title-margin {
	margin-top: 10%;
}
.service-protocol-logo-margin {
	margin-top: 20%;
}

.service-protocol-title {
	font-size: 30pt;
	color: #47873A;
	font-weight: bold;
}

.service-protocol-content {
	width: 100%;
	height: 50%;
}

.service-protocol-bottom-btn {
	font-size: 24pt;
	background-color: #47873A;
	background-image: none;
	color: #666666;
	
	-moz-border-radius: 28px;      /* Gecko browsers */
    -webkit-border-radius: 28px;   /* Webkit browsers */
    border-radius: 28px;            /* W3C syntax */
}

.btn-setting {
  	font-size: 22pt;
	color: #47873A;
	background-color: #FFFFFF;
	background-image: none;
	border: 4px solid #47873A;
	border-radius: 30px;
	width:100%;
}