@(message: String)(work_type: String)(work_name: String)(app_id: String)(signiture: String)(timespan: String)(pay_args: play.api.libs.json.JsValue)(openid: String)

@main(message) {
	
	<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
	<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="//cdn.bootcss.com/jquery.touchswipe/1.6.12/jquery.touchSwipe.js"></script>
	<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	
	<script src="@routes.Assets.at("javascripts/page.js")"></script>
	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/page.css")">
	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/consultingPage.css")">
} {

	<div class="page consulting-page-background">
		
		<div class = "row">
		
			<div class="col-xs-6 col-md-6 logo-margin col-offset-1">
			<img class="img-responsive " src="/assets/images/consulting-page-logo.png" alt="JieTengLogo" >
			</div>
			
			<div class="col-xs-4 col-md-6 title-margin">
			<p class="category text-center">@work_type</p>
			<img class="img-responsive seprate center-block" src="/assets/images/consulting-page-seprate.png" alt="consultingtitle">		
			<p class="dazhu text-center">@work_name</p>
			</div>
		</div>
		
		<div class="row form-margin">
			<form class="form-horizontal form-group-lg">
			
			  <div class="form-group">
			    <label for="nickname" class="label col-sm-2 control-label col-offset-2 label-font">昵称</label>
			    <div class="col-sm-6">
			      <input type="nickname" class="form-control text-round" id="nickname">
			    </div>
			  </div>
			  
			  <div class="form-group form-margin-top">
			    <label for="email" class="label col-sm-2 control-label col-offset-2 label-font">邮箱</label>
			    <div class="col-sm-6">
			      <input type="email" class="form-control text-round" id="email">
			    </div>
			  </div>
			  
			  <div class="form-group form-margin-top">
			    <label for="content" class="label col-sm-2 control-label col-offset-2 label-font">咨询内容</label>
			    <div class="col-sm-6">
			      <textarea class="form-control text-round" rows="15" id="query-content"></textarea>
			    </div>
			  </div>
			  
			  
			  <div class="form-group form-margin-top">
			    <div class="col-sm-9 col-offset-1">
			      <button type="button" id="push-query" class="btn btn-default pull-right btn-setting">提交</button>
			    </div>
			  </div>
			  
			</form>
		</div>
	</div>
} {

	<script type="text/javascript">
		function setup() {
			var plst = new pages();
			plst.calledWhenResize();
		};
	
		$(function(){
			setup();
		});
	
		$(window).resize(function() {
			setup();
		});

		$("#push-query").click(function(){
			createPrepayID();
		});

		function createPrepayID() {
			var query_object = new Object();
			query_object['openid'] = '@openid';
			
			$.ajax({
		        //url: 'http://192.168.1.101:9000/createPrepayID',
				url: 'http://www.jietengculture.com/createPrepayID',
		        type: 'POST',
		        dataType: 'json',
		        contentType: 'application/json, charset=utf-8',
		        data: JSON.stringify(query_object),
		        cache: false,
		        success: function (data) {
			        wx.chooseWXPay({
					    timestamp: data.timespan, // 支付签名时间戳，注意微信jssdk中的所有使用timestamp字段均为小写。但最新版的支付后台生成签名使用的timeStamp字段名需大写其中的S字符
					    nonceStr: 'b927722419c52622651a871d1d9ed8b2', // 支付签名随机串，不长于 32 位
					    package: data.package, // 统一支付接口返回的prepay_id参数值，提交格式如：prepay_id=***）
					    signType: 'MD5', // 签名方式，默认为'SHA1'，使用新版支付需传入'MD5'
					    paySign: data.pay_sign, // 支付签名
					    success: function (res) {
					    	alert("success");
            			},
			            cancel: function () {
					    	alert("cancel");
            			},
			            error: function (e) {
					    	alert("error");
            			}
					});
		        },
		        error: function (xhr, status, error) {
			        alert("get prepay id error");
		        }
		    });
		}

		function pushQueryContent() {
			var query_object = new Object();
			query_object['name'] = $('#nickname').val();
			query_object['email'] = $('#email').val();
			query_object['content'] = $('#query-content').val();
			
			$.ajax({
		        //url: 'http://192.168.1.101:9000/pushQueryContent',
				url: "http://www.jietengculture.com/pushQueryContent",
		        type: 'POST',
		        dataType: 'json',
		        contentType: 'application/json, charset=utf-8',
		        data: JSON.stringify(query_object),
		        cache: false,
		        success: function (data) {
			        alert(data.message);
		        },
		        error: function (xhr, status, error) {
			        alert("发布失败，请检查您的输入");
		        }
		    });
		}

		wx.config({
		    debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
		    appId: '@app_id', // 必填，公众号的唯一标识
		    timestamp: @timespan, // 必填，生成签名的时间戳
		    nonceStr: 'Wm3WZYTPz0wzccnW', // 必填，生成签名的随机串
		    signature: '@signiture',// 必填，签名，见附录1
		    jsApiList: [
		    	'checkJsApi',
		    	'chooseWXPay'
		    ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
		});
		
		wx.ready(function () {
			//alert("weixin api ready")
		});
		  
		wx.error(function (res) {
  			alert(res.errMsg);
		});
	</script>
}

