@(message: String)(work_type: String)(work_name: String)

@main(message) {
	
	<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
	<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="//cdn.bootcss.com/jquery.touchswipe/1.6.12/jquery.touchSwipe.js"></script>
	
	<script src="@routes.Assets.at("javascripts/page.js")"></script>
	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/page.css")">
	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/consultingPage.css")">
} {

	<div class="page consulting-page-background">
		
		<div class = "row">
		
			<div class="col-xs-6 col-md-6 logo-margin col-offset-1">
			<img class="img-responsive " src="/assets/images/consulting-page-logo.png" alt="JieTengLogo" >
			</div>
			
			<div class="col-xs-4 col-md-6 title-margin">
			<p class="category text-center">@work_type</p>
			<img class="img-responsive seprate center-block" src="/assets/images/consulting-page-seprate.png" alt="consultingtitle">		
			<p class="dazhu text-center">@work_name</p>
			</div>
		</div>
		
		<div class="row form-margin">
			<form class="form-horizontal form-group-lg">
			
			  <div class="form-group">
			    <label for="nickname" class="label col-sm-2 control-label col-offset-2 label-font">昵称</label>
			    <div class="col-sm-6">
			      <input type="nickname" class="form-control text-round" id="nickname">
			    </div>
			  </div>
			  
			  <div class="form-group form-margin-top">
			    <label for="email" class="label col-sm-2 control-label col-offset-2 label-font">邮箱</label>
			    <div class="col-sm-6">
			      <input type="email" class="form-control text-round" id="email">
			    </div>
			  </div>
			  
			  <div class="form-group form-margin-top">
			    <label for="content" class="label col-sm-2 control-label col-offset-2 label-font">咨询内容</label>
			    <div class="col-sm-6">
			      <textarea class="form-control text-round" rows="15" id="query-content"></textarea>
			    </div>
			  </div>
			  
			  
			  <div class="form-group form-margin-top">
			    <div class="col-sm-9 col-offset-1">
			      <button type="button" id="push-query" class="btn btn-default pull-right btn-setting">提交</button>
			    </div>
			  </div>
			  
			</form>
		</div>
	</div>
} {

	<script type="text/javascript">
		function setup() {
			var plst = new pages();
			plst.calledWhenResize();
		};
	
		$(function(){
			setup();
		});
	
		$(window).resize(function() {
			setup();
		});

		$("#push-query").click(function(){
			pushQueryContent();
		});

		function pushQueryContent() {
			var query_object = new Object();
			query_object['name'] = $('#nickname').val();
			query_object['email'] = $('#email').val();
			query_object['content'] = $('#query-content').val();
			
			$.ajax({
		        //url: 'http://192.168.1.103:9000/pushQueryContent',
				url: "http://182.92.112.94/pushQueryContent",
		        type: 'POST',
		        dataType: 'json',
		        contentType: 'application/json, charset=utf-8',
		        data: JSON.stringify(query_object),
		        cache: false,
		        /*
		        beforeSend: function () {
		            Loading();
		        },
		        complete: function () {
		            hiddenLoading();
		        },
		        */
		        success: function (data) {
			        alert(data.message);
		        },
		        error: function (xhr, status, error) {
			        alert("发布失败，请检查您的输入");
		        }
		    });
		}
	</script>
}

