@(message : String)(lst : List[List[play.api.libs.json.JsValue]])(indexing: List[play.api.libs.json.JsValue])

@main(message) {
	
	<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
	<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="//cdn.bootcss.com/jquery.touchswipe/1.6.12/jquery.touchSwipe.js"></script>
	
	<script src="@routes.Assets.at("javascripts/page.js")"></script>
	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/page.css")">
	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/homePage.css")">
	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/consultcatePage.css")">
	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/dazhuPage.css")">
	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/endPage.css")">
} {
 
 	<!-- page 1: home page -->
	<div class="page home-page-background" >
		<div class="row">
			<img class="center-block img-responsive spacer" src="/assets/images/jieteng-logo2.png" alt="JieTengLogo" height="430" width="430">
		</div>
		<div class="row">
			<img class="center-block img-responsive spacer-title" src="/assets/images/home-page-title.png" alt="home page title" height="100" width="380">
			<img class="img-responsive seprate center-block" src="/assets/images/consulting-page-seprate.png" alt="seprate" height="150" width="380">		
		</div>
		<div class="row">
			<img class="center-block img-responsive spacer-content" src="/assets/images/home-page-content.png" alt="home page content" height="600" width="600">
		</div>
	</div>

	<!-- page 2: catelogy page -->
	<div class="page consultcate-page-background">
		<div class = "row">
			<div class="col-xs-6 col-md-5 logo-margin col-offset-1">
			<img class="img-responsive" src="/assets/images/jieteng-logo.png" alt="JieTengLogo" >
			</div>
			<div class="col-xs-4 col-md-5 title-margin">
			<img class="center-block img-responsive" src="/assets/images/cate-page-title.png" alt="home page title" height="100" width="380">
			<img class="img-responsive center-block" src="/assets/images/consulting-page-seprate.png" alt="consultingtitle" height="150" width="450">				
			</div>
		</div>
		@for((id, i) <- indexing.zipWithIndex) {
		<div class = "row">
			@if(i==0) {
				<button type="button" class="scroll-btn btn btn-lg consultcate-round center-block consultcate-spacer" data-index=@{(id \ "indexing").asOpt[Int].get}>@{(id \ "type").asOpt[String].get}</button>
			} else {
				<button type="button" class="scroll-btn btn btn-lg consultcate-round center-block consultacate-btn-spacer" data-index=@{(id \ "indexing").asOpt[Int].get}>@{(id \ "type").asOpt[String].get}</button>
			}
		</div>
		}
	</div>
	
	<!-- page 3: dazhupage -->
	@for((iter_page, page_index) <- lst.zipWithIndex) {
	<div class="page dazhu-page-background" data-page-index=@page_index>
		<table class="col-10 col-offset-1 row-offset-1"  border="0" cellspacing="0" cellpadding="2" bordercolor="#009900" >
			@for((iter, index) <- iter_page.zipWithIndex) {
				<tr>
					<td colspan="3" style="padding-top: 8%" class="dazhu-row" data-index=@index>
						<span>
						<b><span class="dazhu-name">@{(iter \ "name").asOpt[String].get}</span> <span class="dazhu-name-sub">| @{(iter \ "type").asOpt[String].get} </span><button type="button" class="btn btn-sm btn-primary dazhu-name-sub-btn">点我咨询</button></b><br>
						<p class="dazhu-description">答主介绍：@{(iter \ "exp").asOpt[String].get}</p>
						</span>
					</td>
				</tr>
			}
		</table>
	</div>
	}
 
 	<!-- page 4: end page -->
	<div class="page end-page-background">
		<div class="row">
			<img class="center-block img-responsive end-page-title" src="/assets/images/jieteng-logo2.png" alt="JieTengLogo" height="500" width="500">
		</div>
		<div class="row">
			<img class="center-block img-responsive end-page-spacer" src="/assets/images/end-page-title.png" alt="home page title" height="200" width="600">
		</div>
		<div class="row">
			<img class="center-block img-responsive end-page-content" src="/assets/images/end-page-content-1.png" alt="home page title" height="150" width="500">
		</div>
		<div class="row">
			<img class="center-block img-responsive end-page-spacer-slogan" src="/assets/images/end-page-content-2.png" alt="home page content" height="600" width="500">
		</div>		
	</div>
} {

	<script type="text/javascript">
		var touchEvents = {
	        touchstart: "touchstart",
	        touchmove: "touchmove",
	        touchend: "touchend",

	        /**
	         * 判断是否pc设备，若是pc，需要更改touch事件为鼠标事件，否则默认触摸事件
	         */
	        initTouchEvents: function () {
	            if (isPC()) {
	                this.touchstart = "mousedown";
	                this.touchmove = "mousemove";
	                this.touchend = "mouseup";
	            }
	        }
	    };
	
		var plst = new pages();

		function setup() {
			plst.calledWhenResize();
		};
	
		$(function(){
			setup();
		
			$(".dazhu-row").each(function(){
				if ($(this).data("index") % 2 == 1) {
					$(this).addClass("dazhu-right")
				}
			});
		});
	
		$(window).resize(function() {
			setup();
		});

		$(".scroll-btn").bind(touchEvents.touchstart, function (event) {
			var index = $(event.target).data("index");
			$("html,body").animate({scrollTop:$("[data-page-index="+ index +"]").offset().top}, 500);
			plst.current_page = index + 2;
        });

		$(".dazhu-name-sub-btn-btn").bind(touchEvents.touchstart, function (event) {

		});
	</script>
}
