@(message: String)

@main(message) {
	
	<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
	<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="//cdn.bootcss.com/jquery.touchswipe/1.6.12/jquery.touchSwipe.js"></script>
	
	<script src="@routes.Assets.at("javascripts/page.js")"></script>
	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/page.css")">
	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/dazhuPage.css")">
} {

	<div class="page dazhu-page-background">
		<table class="col-10 col-offset-1 row-offset-1"  border="0" cellspacing="0" cellpadding="2" bordercolor="#009900" >
			<tr>
				<td colspan="3" style="padding-top: 8%">
					<span>
					<b><span class="dazhu-name">佛尘净心</span> <span class="dazhu-name-sub">| 工作咨询 </span><button type="button" class="btn btn-sm btn-primary dazhu-name-sub-btn">点我咨询</button></b><br>
					<p class="dazhu-description">答主介绍：外派常驻7年，</p>
					<p class="dazhu-description">擅长职业规划和薪资评估。</p>
					</span>
				</td>
			</tr>	
			
			<tr>
				<td colspan="3" style="padding-top: 8%; float:right">
					<span>
					<b><span class="dazhu-name">琴格雷</span> <span class="dazhu-name-sub">| 工作咨询 </span><button type="button" class="btn btn-sm btn-primary dazhu-name-sub-btn">点我咨询</button></b><br>
					<p class="dazhu-description">答主介绍：主流媒体与西</p>
					<p class="dazhu-description">班牙语结合。</p>
					</span>
				</td>
			</tr>	
			
			<tr>
				<td colspan="3" style="padding-top: 8%">
					<span>
					<b><span class="dazhu-name">金融民工</span> <span class="dazhu-name-sub">| 工作咨询 </span><button type="button" class="btn btn-sm btn-primary dazhu-name-sub-btn">点我咨询</button></b><br>
					<p class="dazhu-description">答主介绍：中拉合作项目</p>
					<p class="dazhu-description">负责人。</p>
					</span>
				</td>
			</tr>
				
			<tr>
				<td colspan="3" style="padding-top: 8%; float:right">
					<span>
					<b><span class="dazhu-name">外派民工</span> <span class="dazhu-name-sub">| 工作咨询 </span><button type="button" class="btn btn-sm btn-primary dazhu-name-sub-btn">点我咨询</button></b><br>
					<p class="dazhu-description">答主介绍：擅长同类公司</p>
					<p class="dazhu-description">比较。</p>
					</span>
				</td>
			</tr>	
			
			<tr>
				<td colspan="3" style="padding-top: 8%">
					<span>
					<b><span class="dazhu-name">无能星人</span> <span class="dazhu-name-sub">| 工作咨询 </span><button type="button" class="btn btn-sm btn-primary dazhu-name-sub-btn">点我咨询</button></b><br>
					<p class="dazhu-description">答主介绍：熟悉出口行业特</p>
					<p class="dazhu-description">点，擅长职业规划。</p>
					</span>
				</td>
			</tr>	
			
			<tr>
				<td colspan="3" style="padding-top: 8%; float:right">
					<span>
					<b><span class="dazhu-name">小块头有大智慧</span> <span class="dazhu-name-sub">| 工作咨询 </span><button type="button" class="btn btn-sm btn-primary dazhu-name-sub-btn">点我咨询</button></b><br>
					<p class="dazhu-description">答主介绍：擅长市场开发和</p>
					<p class="dazhu-description">同类公司比较。</p>
					</span>
				</td>
			</tr>	
		</table>
	</div>
} {

	<script type="text/javascript">
		function setup() {
			var plst = new pages();
			plst.calledWhenResize();
		};
	
		$(function(){
			setup();
		});
	
		$(window).resize(function() {
			setup();
		});
	</script>
}

