@(message: String)

@main(message) {
	
	<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
	<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="//cdn.bootcss.com/jquery.touchswipe/1.6.12/jquery.touchSwipe.js"></script>
	
	<script src="@routes.Assets.at("javascripts/page.js")"></script>
	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/page.css")">
} {

	<div class="page" style="background-color: white; font-size: 100px">
		<div class="row">
			<img class="center-block img-responsive spacer" src="logo.gif" alt="JieTengLogo" height="150" width="150">
		</div>
		
		<div class="row">
			<img class="center-block img-responsive spacer" src="home_page_title.gif" alt="home page title" height="150" width="50">
		</div>
		
		<div class="row">
			<img class="center-block img-responsive spacer" src="home_page_content.gif" alt="home page content" height="200" width="220">
		</div>
		
	</div>

	<div class="page" style="background-color: red; font-size: 100px">
		page 2
	</div>
} {

	<script type="text/javascript">
		function setup() {
			var plst = new pages();
			plst.calledWhenResize();
		};
	
		$(function(){
			setup();
		});
	
		$(window).resize(function() {
			setup();
		});
	</script>
}

