@(message: String)(data: List[play.api.libs.json.JsValue])

@main(message) {
	
	<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
	<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
} {

	<h2>未回答的问题</h2>
	<div>
		@for((iter, index) <- data.zipWithIndex) {
			<ul>
				<li><h3>用户 @index</h3></li>
				<li>用户昵称: @{(iter \ "name").asOpt[String].get}</li>
				<li>用户邮箱: @{(iter \ "email").asOpt[String].get}</li>
				<li>用户问题: @{(iter \ "content").asOpt[String].get}</li>
				<li class='@index'>问题状态: @{(iter \ "status").asOpt[String].get}</li>
				<li><button class='commit-btn' data-index=@index data-trade-no='@{(iter \ "trade_no").asOpt[String].get}'>提交</button></li>
			</ul>
			<br/>
		}

	</div>
} {

	<script type="text/javascript">
		$('.commit-btn').click(function(){
			var index = $(this).data('index');
			var trade_no = $(this).data('trade-no');
			var query_object = new Object();
			query_object['trade_no'] = trade_no;
			
			$.ajax({
				url: 'http://www.turismochino.net/changePostedQueryStatusToReplay',
		        type: 'POST',
		        dataType: 'json',
		        contentType: 'application/json, charset=utf-8',
		        data: JSON.stringify(query_object),
		        cache: false,
		        success: function (data) {
					alert(data.message);
					$('.' + index).html("问题状态: 已回复")
		        },
		        error: function (xhr, status, error) {
			        alert("get prepay id error");
		        }
		    });
		});
	</script>
}

