@(message: String)(data: String)

@main(message) {
	
	<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
	<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="//cdn.bootcss.com/jquery.touchswipe/1.6.12/jquery.touchSwipe.js"></script>
	
	<script src="@routes.Assets.at("javascripts/page.js")"></script>
	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/page.css")">
	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/serviceProtocol.css")">
} {

	<div class="page service-protocol-background">
		
		<div class = "row">
			<div class="col-xs-4 col-md-6 col-offset-2">
			<img class="img-responsive service-protocol-logo-margin" src="/assets/images/jieteng-logo.png" alt="JieTengLogo" >
			</div>
			<div class="col-xs-4 col-md-6 service-protocol-title-margin">
				<p class="service-protocol-title">结藤社</p>	
				<p class="service-protocol-title">求助者服务协议</p>	
			</div>
		</div>

		<textarea class="row service-protocol-content" readonly>
			@data
		</textarea>

		<table class="col-10 col-offset-1 row-offset-1"  border="0" cellspacing="0" cellpadding="2" bordercolor="#009900" >
			<tr>
				<td colspan="50%" style="float: left"><button type="button" id="agree-setting" class="btn btn-primary btn-setting"> 同意 </button></td>
				<td colspan="50%" style="float: right"><button type="button" id="disagree-setting" class="btn btn-primary btn-setting">不同意</button></td>
			</tr>
		</table>	
	</div>
} {

	<script type="text/javascript">
			var touchEvents = {
	        touchstart: "touchstart",
	        touchmove: "touchmove",
	        touchend: "touchend",

	        /**
	         * 判断是否pc设备，若是pc，需要更改touch事件为鼠标事件，否则默认触摸事件
	         */
	        initTouchEvents: function () {
	            if (isPC()) {
	                this.touchstart = "mousedown";
	                this.touchmove = "mousemove";
	                this.touchend = "mouseup";
	            }
	        }
	    };
	
		function setup() {
			var plst = new pages();
			plst.calledWhenResize();
		};
	
		$(function(){
			setup();
		});
		
		$(window).resize(function() {
			setup();
		});

		$("#agree-setting").bind(touchEvents.touchstart, function (event) {		
			location.href = "http://www.turismochino.net";			
			//location.href = "http://www.jietengculture.com";			
		});
		
		$("#disagree-setting").bind(touchEvents.touchstart, function (event){
			alert("需要同意协议才能进行咨询");
		});

		
	</script>
}

